.nav-logo {
  width: 10vh;
  object-fit: contain;
}

.header-img {
  background-image: url(https://images.unsplash.com/photo-1597603413826-cd1c06b05222?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  object-fit: contain;
  background-position: center;
}

.containing-block {
  position: relative;
  min-height: 5vh;
  padding: 0;
}

.magic-card {
  position: relative;
  bottom: -15vh;
}

.magic-card-offset {
  margin-top: 15vh;
}

.stars {
  max-height: 100px;
}

.title-font {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}